﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Page.master.cs" Inherits="footUltimeVersion.Master.Page" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
         <div>
            <asp:Label ID="LabelArticleName" runat="server" Text="Label"></asp:Label>
            <br />
            <asp:Label ID="LabelArticle" runat="server" Text="Label"></asp:Label>
            <br />
            <asp:TextBox ID="TextBoxCommentaire" runat="server" placeholder="Votre commentaire"></asp:TextBox>
            <br />
        </div>
        <div id="div1" runat="server"></div>
    </form>
</body>
</html>
