﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ListeArticles2.aspx.cs" Inherits="footUltimeVersion.Article.ListeArticles2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <div class="row" id="ligne_article" runat="server">
        
    </div>
</asp:Content>
