﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="SaisieArticle.aspx.cs" Inherits="projetfoot.Article.SaisieArticle" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
  
    
 <div class="body body-s">
    
     <div id="corps_page" runat="server"></div>

     <h1 style="margin-left:400px"> Saisir un article</h1>

        <h3 style="margin-left:450px">Titre de l&#39;article</h3>
        <asp:TextBox ID="textbox_titre" runat="server" Height="27px" OnTextChanged="TextBox1_TextChanged" style="margin-left: 440px;" ></asp:TextBox>

        <h3 style="margin-left:460px">Description</h3>
        <asp:TextBox ID="textbox_description" runat="server" OnTextChanged="TextBox1_TextChanged1" style="margin-left: 440px;" ></asp:TextBox>


        <h3 style="margin-left:420px">Contenu de l'article</h3>
        
            <textarea id="textarea_article" name="S1" runat="server" style="margin-left:390px; width:500px; height:200px;"></textarea>
        <asp:Button ID="Button1" runat="server" Height="25px" OnClick="valider_Click" style="margin-left: 440px; margin-top: 36px" Text="Valider" Width="195px" />
    
</div>
</asp:Content>
