﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ValidationCommentaire.aspx.cs" Inherits="footUltimeVersion.Article.ValidationCommentaire" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <!-- Balise affichant un message à l'utilisateur s'il ne reste plus aucun message à trier -->
    <div id ="message_utilisateur" runat="server">

        

    </div>
    
    <asp:CheckBoxList ID="CheckBoxCommentaire" runat="server">
        
        
    </asp:CheckBoxList>


    <asp:Button ID="boutonValidation" runat="server" OnClick="Button1_Click" Text="Valider" />



</asp:Content>
