﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="AjouterConfrontation.aspx.cs" Inherits="footUltimeVersion.Confrontation.AjouterConfrontation" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="body body-s">
        <h2>Ajouter un match</h2>
        <div style="height: 32px; width: 149px;">
            Journée</div>
        <asp:DropDownList ID="dropdownlist_journee" runat="server" Height="27px" Width="264px"></asp:DropDownList> 
        <br />
        <div style="height: 32px; width: 149px;">
            Date</div>
        <asp:TextBox ID="textbox_date" type="date" runat="server" Height="27px" Width="264px" ></asp:TextBox>
        <br />
        <div style="height: 32px; width: 149px;">
            Equipe domicile</div>
        <asp:DropDownList ID="dropdownlist_equipe1" runat="server" Height="27px" Width="264px"></asp:DropDownList>
        <br />
        <div style="height: 32px; width: 149px;">
            Equipe éxterieur</div>
        <asp:DropDownList ID="dropdownlist_equipe2" runat="server" Height="27px" Width="264px"></asp:DropDownList>
        <br />
        <asp:Button ID="Button1" runat="server" Height="25px" OnClick="button_valider" Text="Valider" Width="195px" />
    </div>
</asp:Content>
