﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="AjouterChampionat.aspx.cs" Inherits="footUltimeVersion.Championnat.AjouterChampionat" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Ajouter un championat</h2>
        <div style="height: 32px; width: 149px;">
            Nom du championat</div>
        <asp:TextBox ID="textbox_nom" runat="server" Height="27px" Width="264px" ></asp:TextBox>
        <br />

        <div style="height: 32px; width: 149px;" >
            Pays</div>
        <asp:DropDownList ID="dropdownlist_pays" runat="server" Height="27px" Width="264px"></asp:DropDownList>
        <br />
    <asp:Button ID="Button1" runat="server" Height="25px" OnClick="button_valider" Text="Valider" Width="195px" />
</asp:Content>
