﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="footUltimeVersion._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron" id="entete" runat="server">
        
    </div>

    <div class="row" id="ligne_article" runat="server">
        
    </div>

</asp:Content>
