﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="footUltimeVersion.SiteMaster" %>

<!DOCTYPE html>

<html lang="fr">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Mon ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <style>
        a
        {
            color:white;
        }
        li {color:white;}
    </style>

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--Pour en savoir plus sur le regroupement de scripts dans ScriptManager, consultez https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Scripts Framework--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Scripts de site--%>
            </Scripts>
        </asp:ScriptManager>
       <%--style="background-color:#7d2399; border:1px solid #7d2399  --%>
        <nav class="navbar navbar-inverse" style="background-color:#239da8; border:1px solid #239da8;" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="../Default.aspx"" style="color:white">ValhallaFoot</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active" style="color:white"><a href="../Default.aspx"><b>Accueil</b></a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"  style="color:white"><b>Compétitions</b>
                                     <span class="caret" style="color:white"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../Classement/Classement.aspx?id=1">Ligue 1</a></li>
                                    <li><a href="../Classement/Classement.aspx?id=2">Ligue 2</a></li>
                                    <li><a href="../Classement/Classement.aspx?id=3">Liga</a></li>
                                    <li><a href="../Classement/Classement.aspx?id=4">Barclays League</a></li>
                                    <li><a href="../Classement/Classement.aspx?id=5">BundesLiga</a></li>
                                </ul>
                                
                            </li>
                            <li id="menu_ajout" class="dropdown" runat ="server">
                                <a class="dropdown-toggle" data-toggle="dropdown"  style="color:white"><b>Ajouter</b>
                                     <span class="caret" style="color:white"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../Article/SaisieArticle.aspx">Article</a></li>
                                    <li><a href="../Championnat/AjouterChampionat.aspx">Championat</a></li>
                                    <li><a href="../Equipe/AjouterEquipe.aspx">Equipe</a></li>
                                    <li><a href="../Match/AjouterConfrontation.aspx">Match</a></li>
                                </ul>
                                
                            </li>

                            <li id="menu_modification" class="dropdown" runat="server">
                                <a class="dropdown-toggle" data-toggle="dropdown"  style="color:white"><b>Modifier</b>
                                     <span class="caret" style="color:white"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../Equipe/ModifierEquipe.aspx">Equipe</a></li>
                                </ul>
                                
                            </li>
                              <li><a href="../Article/ListeArticles2.aspx" style="color:white" ><b>Articles</b></a></li>
                            <li id="validationCommentaire" runat="server"></li>
                            <li id="ongletConnexion" runat="server"></li>
                            <li id="ongletInscription" runat="server"></li>
                            


                        </ul>
                        <div class="navbar-header">
                            <a class="navbar-brand" id="loginUtilisateur" style="color:white" runat="server"></a>
                        </div>
                    </div>
            
                </nav>
       
    
    
        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">

            </asp:ContentPlaceHolder>

            <hr />
            <footer>
              
            </footer>
        </div>
         </form>
        </body>
    

</html>
