﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="AjouterEquipe.aspx.cs" Inherits="footUltimeVersion.Equipe.AjouterEquipe" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="body body-s">
        <h2>Ajouter une équipe</h2>
        <div style="height: 32px; width: 149px;">
            Nom de l&#39;équipe</div>
        <asp:TextBox ID="textbox_nom" runat="server" Height="27px" Width="264px" ></asp:TextBox>
        <br />

        <div style="height: 32px; width: 149px;" >
            Année de fondation</div>
        <asp:TextBox ID="textbox_annee" runat="server" Height="27px" Width="264px" ></asp:TextBox>
        <br />
        <div style="height: 32px; width: 149px;" >
            Entreneur</div>
        <asp:TextBox ID="textbox_entreneur" runat="server" Height="27px"  Width="264px" ></asp:TextBox>
        <br />
        <div style="height: 32px; width: 149px;" >
            Stade</div>
        <asp:TextBox ID="textbox_stade" runat="server" Height="27px" Width="264px" ></asp:TextBox>
        <br />
        <div style="height: 32px; width: 149px;" >
            Capacité</div>
        <asp:TextBox ID="textbox_capacite" runat="server" Height="27px" Width="264px" ></asp:TextBox>
        <br />
        <div style="height: 32px; width: 149px;" >
            Championat</div>
        <asp:DropDownList ID="dropdownlist_championat" runat="server" Height="27px" Width="264px"></asp:DropDownList>
        <br />
        <asp:Button ID="Button1" runat="server" Height="25px" OnClick="button_valider" Text="Valider" Width="195px" />
    </div>
</asp:Content>
